# Week:1 Introduction to Data Mining

### Objective:
The objective of the assignment is to understand how to install libraries, creating variables, calculate statistical metrics, basic python opreations, creating dataframes and basic pandas operations on the dataframe.

We have to use Fatal Police Shooting Data to answer the questions given in this notebook.

### Fatal Police Shooting Data

**About dataset**\
The dataset consists of following columns
1. **id**                         : unqiue identifier of each victim
2. **name**                       : name of a victim
3. **date**                       : date on fatal shooting 
4. **manner_of_death**            : manner of death classification
    * Shot
    * Shot and Tasered
5. **armed**                      : indicates that the victim was armed with some sort of implement that a police officer believed could inflict harm
    * undetermined: it is not known whether or not the victim had a weapon
    * unknown: the victim was armed, but it is not known what the object was
    * unarmed: the victim was not armed
6. **age**                        : age of victim
7. **gender**                     : the gender of the victim. The Post identifies victims by the gender they identify with if reports indicate that it differs from their biological sex.
    * M: Male
    * F: Female
    * None: Unknown
8. **race**                       : race of victim
    * W: White, non-Hispanic
    * B: Black, non-Hispanic
    * A: Asian
    * N: Native American
    * H: Hispanic
    * O: Other
    * None: unknown
9. **city**                       : the city where the fatal shooting took place. Note that in some cases this field may contain a county name if a more specific city is unavailable or unknown.
10. **state**                     : two-letter postal code abbreviation
11. **signs_of_mental_illness**   : News reports have indicated the victim had a history of mental health issues, expressed suicidal intentions or was experiencing mental distress at the time of the shooting.
12. **threat_level**              : These would include incidents where officers or others were shot at, threatened with a gun, attacked with other weapons or physical force, etc. The attack category is meant to flag the highest level of threat. The other and undetermined categories represent all remaining cases. Other includes many incidents where officers or others faced significant threats. 
13. **flee**                      : News reports have indicated the victim was moving away from officers
    * Foot
    * Car
    * Not fleeing
14. **body_camera**               : News reports have indicated an officer was wearing a body camera and it may have recorded some portion of the incident.

## Let's Begin

### Question: 1            (2 Marks)                                                                                                                                                  

Install the required libraries for the assignment

In [3]:
!pip install numpy
import numpy as np

Collecting numpy
  Downloading numpy-1.26.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 kB 2.5 MB/s eta 0:00:0000:01
Downloading numpy-1.26.3-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 15.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: numpy
Successfully installed numpy-1.26.3

In [4]:
# Install a libray which help us to data injecting, data manipulation on the dataframe
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.0-cp311-cp311-macosx_11_0_arm64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in ./env/lib/python3.11/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./env/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp311-cp311-macosx_11_0_arm64.whl (11.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 12.9 MB/s eta 0:00:0000:0100:01
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 13.4 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.0 pytz-2023.3.post1 tzdata-2023.4

In [6]:
# Import the libary
import pandas as pd

#Check the version
print(pd.__version__)

2.2.0

In [7]:
# Upgrade the installed library to the latest version
!pip install --upgrade pandas

Requirement already satisfied: pandas in ./env/lib/python3.11/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in ./env/lib/python3.11/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./env/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./env/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in ./env/lib/python3.11/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [8]:
# Check the latest version after upgrading library
print(pd.__version__)

 #Todo: Code to fill
 # 1. '<<__A__>>'--> import requried libraries
 # 2. '<<__B__>>'--> Check the version 
 # 3. '<<__C__>>'--> Updgrade the installed library to leatest version
 # 4. '<<__D__>>'--> Check the latest version after upgrading library

2.2.0

### Question: 2 (2 marks)

- Fill in the missing code. 
- Store the data in to a variable, then display the top 5 and bottom 5 rows of records and check the dataset's shape.

In [57]:
# Load the dataframe and store it into the variable
df = pd.read_csv('./fatal-police-shootings-data.csv')

In [58]:
# Display the Top 5 records
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [59]:
# Display the last 5 records
df.tail()

 #Todo: Code to fill
 # 1. '<<__A__>>'--> Appropriate pandas function to read the file
 # 2. '<<__B__>>'--> Appropriate path of the csv file
 # 3. '<<__C__>>'--> Check for top 5 records using appropriate function
 # 4. '<<__D__>>'--> Check for bottom 5 records using appropriate function

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
4473,4907,Connor Betts,2019-08-04,shot,gun,24.0,M,W,Dayton,OH,True,attack,Not fleeing,False
4474,4909,Robert Clay Wilsford Jr.,2019-08-04,shot,gun,65.0,M,NaN,Hanceville,AL,True,attack,Not fleeing,False
4475,4910,TK TK,2019-08-05,shot,undetermined,NaN,NaN,NaN,Salt Lake City,UT,False,undetermined,Not fleeing,True
4476,4914,James Kirkwood,2019-08-05,shot,knife,49.0,M,B,Memphis,TN,False,attack,Foot,False
4477,4916,Marvin Alexis Urbina,2019-08-05,shot,vehicle,19.0,M,H,Bakersfield,CA,False,other,Car,False

In [60]:
# Check the shape of the datset
print("No of columns: ",df.shape[1])
print("No of rows: ",df.shape[0])

No of columns:  14
No of rows:  4478

### Question: 3 (2 marks)
Caluculate the statistical metrics of a column in a dataset

In [61]:
# Calculate the standard devaition
# There are two numeric columns in the dataset - id and age. But age is the only numeric column that has a meaning to it.
# Hence, age column is used for calculating the metrics

standard_deviation = df['age'].std()
print(f"Standard deviation is {standard_deviation}")

Standard deviation is 13.067598403906846

In [62]:
# Average age of a victim
average_age = df['age'].mean()
print(f"Average age of a victim is {average_age}")

Average age of a victim is 36.87932234857276

In [63]:
# Which city records the most Kill Events by police?
# We will group by the city column in the dataset and count the rows in each group to get the kill events in each city.
# Then city with maximum kill events is extracted from the grouped data.

city_with_kill_count = df['city'].value_counts()
max_kills_in_city = city_with_kill_count.max()
city_with_max_kills = city_with_kill_count.idxmax()

print(f'City with the most kill events is {city_with_max_kills} with a count of {max_kills_in_city} kills.')

City with the most kill events is Phoenix with a count of 68 kills.

### Question: 4 (2 marks)
Create a new  " age categories " column using age column of a dataset

In [64]:
'''Hint: if age is between 0 to 12, then categorise as child. 
13-21 as Teenage, 22-34 as Youth, 35-50 as Adult, 51-120 as Senior citizens'''

    #-------- build the code down --------#
            
age_groups = [0,12,21,34,50,120]
age_group_names = ['Child', 'Teenage', 'Youth', 'Adult', 'Senior citizens']

df['age_categories'] = pd.cut(df['age'], bins=age_groups, labels=age_group_names, right=False)
df['age_categories']

0       Senior citizens
1                 Adult
2                 Youth
3                 Youth
4                 Adult
             ...
4473              Youth
4474    Senior citizens
4475                NaN
4476              Adult
4477            Teenage
Name: age_categories, Length: 4478, dtype: category
Categories (5, object): ['Child' < 'Teenage' < 'Youth' < 'Adult' < 'Senior citizens']

In [66]:
# Display the first 5 records after creating the column
df.head()

#Todo: Code to fill
 # 1. Write code to build the conditions for the categories of age
 # 2. '<<__A__>>'--> method to display first 5 rows

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,age_categories
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,Senior citizens
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,Adult
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,Youth
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,Youth
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,Adult

### Question: 5 (2 marks)
Find the state which records the most kill events by police and display the type of attacks done on the male senior citizen of that state.

In [67]:
# Which State records the most Kill Events by police?
state_with_kill_count = df['state'].value_counts()

max_kills_in_state = state_with_kill_count.max()
state_with_max_kills = state_with_kill_count.idxmax()

print(f"State with the most kill events is {state_with_max_kills} with a count of {max_kills_in_state} kills")

State with the most kill events is CA with a count of 680 kills

In [68]:
# What kinds of attacks (armed) are most affected by the male senior citizens in the state of 'CA'
#df[(df['age_categories'] == '<<__A__>>') & (df['gender'] =="M") &  '<<__B__>>']['armed'].'<<__C__>>'

df[(df['age_categories'] == 'Senior citizens') & (df['gender'] =="M") &  (df['state']=='CA')]['armed'].unique()


#Todo: Code to fill

# 1. '<<__A__>>'--> write proper age category 
# 2. '<<__B__>>'--> write state filter 
# 3. '<<__C__>>'--> write the appropriate command to show distinct attacks without repetitions

array(['gun', 'toy weapon', 'knife', 'undetermined', 'box cutter', nan,
       'unarmed', 'hatchet', 'unknown weapon', 'pipe', 'blunt object',
       'pitchfork', 'metal pipe'], dtype=object)

In [72]:
# Save the processed data to use for Week2 assignment 
df.to_csv("week_1_assignment_output.csv",index=False)

## Thank you!